logs/*
logs/*.log
.env
dataAnalysis/ClickStream_DA.py
dataAnalysis/CoinRatio_DA_Test.py
dataAnalysis/DA_test.py
dataAnalysis/parquet_schema_test.py
dataAnalysis/S3_DA_S3.py
dataAnalysis/test.py
dataLake/upbit_websocket_ticker_to_hdfs.py
dataStreaming/dynamoDB_S3_converting_scv.py
dataStreaming/kafka_hdfs_influxDB.py
dataStreaming/kafka_s3_dynamoDB.py
dataStreaming/kafkaSparkStreamingToInfluxDB.py
dataStreaming/kafkaStream_Redis.py
dataStreaming/kafkaStream_to_dynamoDB_optimize.py
dataStreaming/nohup_websocket_1222.log
dataStreaming/pyupbit_hdfs_kafka.py
dataStreaming/pyupbit_websocket_kafka.py
dataStreaming/pyupbit_websocket_kafka_get_ticker.py
test_code/*